AWS_PROFILE=<YOUR PROFILE>
AWS_REGION=us-west-2 # All ASF resources are in this region
DEPLOY_PREFIX=<YOUR INITIALS>
SES_DOMAIN=opensciencelab.asf.alaska.edu # SAME NAME as the SES above!!
SES_EMAIL=<THE TEAM EMAIL>
### OPTIONAL:
DEV_SES_EMAIL=<YOUR EMAIL>
### OPTIONAL, used with <name>.asf.alaska.edu deployments
SSL_CERT_ARN=<ARN to an ACM cert in us-east-1>
DEPLOY_DOMAINS=opensciencelab.asf.alaska.edu,opensarlab.asf.alaska.edu
# For DEPLOY_DOMAINS, comma seperated list (or single host) where the
# first hostname listed is considered the "primary" host.
