# The build Makefile should build this requirements.txt with the right settings.
# https://stackoverflow.com/a/74729344 

jinja2==3.1.6


# To interact with the SSO Token
opensarlab-backend==1.0.4

pyjwt==2.10.1

requests==2.32.3

boto3==1.38.16

frozendict==2.4.6

# For validating usernames within user signup
confusable-homoglyphs==3.3.1