{# djlint:off H016,H021,H030,H031 #}
{% include 'voice-atlas.j2' %}
{% with -%}
    {% set scope = "portal" %}
    {% set tag = "application" %}
    {% include 'notifications.j2' %}
{% endwith -%}
<script src="/static/js/formutils.js" type="text/javascript" charset="utf-8"></script>
<div class="content-wrapper">
    <div class="margin-left-50">
        <h2>
            <i>{{ lab_friendly_name }}</i> Application
        </h2>
        <div class="center-horizontal">
        {% if lab_application_description is not none %}
            <p style="width: 850px;">
                {{ lab_application_description }}
            </p>
            <br><br>
        {% endif %}
        </div>
        <div class="center-horizontal">
            <form method="post">
                {% for question in application_questions -%}
                    <label for="{{ question["name"] }}"
                           {% if question.get("rendering_options") and question.get("rendering_options") in ["multi-line"] %} style="display: block; margin-bottom: 8px;" {% endif %}>
                        {{ question["question"] }}
                    </label>
                    {% if question["type"] == "text" %}
                        {% if question["rendering_options"] == "multi-line" %}
                            <textarea id="{{ question["name"] }}"
                                      name="{{ question["name"] }}"
                                      rows="4"
                                      cols="50"
                                      {% if question.get("placeholder") %}placeholder="{{ question["placeholder"] }}"{% endif %}>{% if active_request is defined %}{{ active_request[question["name"]] }}{% endif %}</textarea>
                        {% else %}
                            <input type="text"
                                   id="{{ question["name"] }}"
                                   name="{{ question["name"] }}"
                                   {% if question.get("placeholder") %}placeholder={{ question["placeholder"] }}{% if active_request is defined %}value="{{ active_request[question["name"]] }}"{% endif %}
                                   {% endif %}>
                        {% endif %}
                    {% elif question["type"] == "checkbox" %}
                        <input type="checkbox"
                               id="{{ question["name"] }}"
                               name="{{ question["name"] }}"
                               {% if active_request is defined %}value="{{ active_request[question["name"]] }}"{% endif %}>
                    {% elif question["type"] == "dropdown" %}
                        <select id="{{ question["name"] }}"
                                name="{{ question["name"] }}"
                                onchange="removeDropdownDefault(this)">
                            {% if active_request is not defined %}<option value="default">Choose One</option>{% endif %}
                            {% for option in question["rendering_options"] %}
                                <option value="{{ option|lower }}"
                                        {% if active_request is defined and active_request[question["name"]].lower() == option.lower() %}selected{% endif %}>
                                    {{ option }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    <br>
                    <br>
                {% endfor %}
                <!-- Sumbit button -->
                <div>
                    <button type="submit">{% if active_request is defined %}Update Application{% else %}Submit Application{% endif %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
