{# djlint:off H006,H021 #}
<style>
    .asf-footer{
        /* If editing height or border, change value content-wrapper margin size as well */
        height: 52px;
        border: 1px solid #e7e7e7;
        box-sizing: border-box;
        background-color: #f8f8f8;
    }
    .footer-text{
        color: #777;
        line-height: 50px;
    }
    .footer-row-element{
        height: 50px;
    }
    .list-inline > li {
        vertical-align: middle;
    }
</style>
<footer class="asf-footer">
    <div class="container-fluid">
        <div class="row text-light text-center">
            <span class="col-md-2"></span>
            <div class="col-md-2 footer-row-element">
                <ul class="list-inline">
                    <li class="list-inline-item me-5">
                        <div style="display: table-cell; vertical-align: middle;">
                            <a target="_blank" href="https://asf.alaska.edu/">
                                <img src="/static/img/ASFLogo-Blue2.png"
                                     alt="JupyterHub"
                                     title="Home"
                                     style="height: 50px;
                                            max-width: 100%" />
                            </a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://asf.alaska.edu/">
                            <p class="h5 footer-text" style="margin: 0;">Alaska Satellite Facility</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-row-element">
                <ul class="list-inline">
                    <li class="list-inline-item me-3 footer-text">
                        <a href="tel:19074745041">
                            <span class="fas fa-phone me-1"></span>
                            <span class="footer-text">(907)474-5041</span>
                        </a>
                    </li>
                    <li class="list-inline-item me-3 footer-text">
                        <a href="mailto:uso@asf.alaska.edu">
                            <span class="fas fa-envelope me-1"></span>
                            <span class="footer-text">uso@asf.alaska.edu</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://maps.app.goo.gl/kMEGoEpAgzViaCbm6">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="footer-text">2156 Koyukuk Drive, Fairbanks, AK 99775</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 footer-row-element">
                <ul class="list-inline">
                    <li class="list-inline-item me-2 footer-text">
                        <a target="_blank"
                           href="https://x.com/Ak_Satellite"
                           aria-label="Twitter">
                            <span class="fa-brands-footer fa-x-twitter h4" style="color: #777;"></span>
                        </a>
                    </li>
                    <li class="list-inline-item me-2 footer-text">
                        <a target="_blank"
                           href="https://www.facebook.com/AKSatellite"
                           aria-label="Facebook">
                            <span class="fa-brands-footer fa-facebook-f h4" style="color: #777;"></span>
                        </a>
                    </li>
                    <li class="list-inline-item me-2 footer-text">
                        <a target="_blank"
                           href="https://www.youtube.com/channel/UChCfI0oVWw4qDwEidnDskJQ"
                           aria-label="YouTube">
                            <span class="fa-brands-footer fa-youtube h4" style="color: #777;"></span>
                        </a>
                    </li>
                    <li class="list-inline-item footer-text">
                        <a target="_blank"
                           href="https://www.linkedin.com/company/aksatellite"
                           aria-label="LinkedIn">
                            <span class="fa-brands-footer fa-linkedin-in h4" style="color: #777;"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <span class="col-md-2"></span>
        </div>
    </div>
</footer>
