<html>
    <body>
        <h1>Message from OpenScienceLab</h1>
        <section>
            <p>There was an error while sending an email...</p>
        </section>
        <section>
            {{ error }}
        </section>
    </body>
</html>
