<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OpenScienceLab Email Error</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="OpenScienceLab, SAR">
        <meta name="description"
              content="Sometimes we just need butter with popcorn.">
    </head>
    <body>
        <h1>Message from OpenScienceLab</h1>
        <section>
            <p>There was an error while sending an email...</p>
        </section>
        <section>
            {{ error }}
        </section>
    </body>
</html>
