{# djlint:off H021 #}
{% if exceeded %}
    <div style="border: 2px solid red;
                background-color: lightcoral;
                width:95%;
                vertical-align: middle">
        <form action="{{ filter_path }}">
            Search results limited to {{ rowcount }}. Try filtering by username:
            <input type="input" name="user_filter">
            Or by email:
            <input type="input" name="email_filter">
            <input type="submit" hidden />
            {% if filtered %}<a role="button" class="btn btn-sm btn-primary" href="{{ filter_path }}">Reset Filters</a>{% endif %}
        </form>
    </div>
{% else %}
    {% if filtered %}
        <br>
        <div style="width:95%; vertical-align: middle">
            <a role="button" class="btn btn-sm btn-primary" href="{{ filter_path }}">Reset Filters</a>
        </div>
        <hr>
    {% endif %}
{% endif %}
