<head>
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.min.css" type="text/css" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <script src="/static/js/require.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js"
            type="text/javascript"
            charset="utf-8"></script>
    <style>
        .margin-left-50 {
            margin-left: 50px;
        }
        .margin-left-30 {
            margin-left: 30px;
        }
        .margin-left-10 {
            margin-left: 10px;
        }
        .margin-right-30 {
            margin-right: 30px;
        }
        .margin-top-10 {
            margin-top: 10px;
        }
        .horizontal-div {
            display: flex;
            gap: 1rem;
        }
        .vertical-div {
            display: flex;
            flex-direction: column;
        }
        .lab-display {
            margin-top: 10px;
        }
        .warning {
            font-weight: bold;
            color: rgb(255 0 0);
        }

        .fieldset-border-blue {
            padding: 40px;
            border: 1px solid #225f8d;
        }

        .fieldset-border-red {
            padding: 40px;
            border: 1px solid #bb0000;
        }

        .legend-border-text {
            width: auto;
            margin-bottom: 0px;
            border: 0px;
            padding: 10px;
        }

        .font-30 {
            font-size: 30px;
        }

        .font-20 {
            font-size: 20px;
        }

        .go-to-lab-btn {
            float: right;
            margin: 5px;
        }

        .go-to-about-btn {
            float: right;
            margin: 5px;
        }

        .lab-logo-img {
            max-height: 100px;
            max-width: 100%;
            padding: 10px;
        }

        .lab-description {
            padding: 20px;
        }

        .lab-btns {
            display: flex;
            justify-content: right;
        }

        .right-align {
            margin-left: auto;
        }

        .screen-width {
            width: 100vw;
        }

        .title {
            border-bottom: 1px solid black;
            margin-bottom: 25px;
            padding-bottom: 10px
        }

        .tr-highlight {
            background-color: rgb(161, 161, 255);
        }

        th {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
