{# djlint:off H006 #}
<div>
    <legend>{{ lab.friendly_name }}</legend>
    <div class="lab-logo">
        <span>
            {% if lab.logo is defined and lab.logo != None -%}
                <img class="lab-logo-img"
                     src="/portal-cdk/lambda_main/static/img/{{ lab.logo }}"
                     alt="logo for {{ lab.friendly_name }}" />
            {% endif %}
        </span>
    </div>
</div>
<div class="horizontal-div screen-width">
    <div class="margin-left-30">
        <h4>Users</h4>
        {% for user in users %}<p>{{ user }}</p>{% endfor %}
    </div>
    <div class="right-align margin-right-30">
        <div>
            <h4>Tools</h4>
            <form method="post" action="{{ lab.short_lab_name }}/edituser">
                <fieldset class="fieldset-border vertical-div">
                    <legend class="legend-border-text font-20">Manage Users</legend>
                    <input type="text" name="username" placeholder="username">
                    <input type="text" name="lab_profiles" placeholder="lab_profiles">
                    <input type="text" name="time_quota" placeholder="time_quota">
                    <input type="text" name="lab_country_status" placeholder="lab_country_status">
                    <div>
                        <label for="can_user_access_lab">See Lab</label>
                        <input type="checkbox" name="can_user_see_lab_card" id="can_user_see_lab_card">
                    </div>
                    <div>
                        <label for="can_user_access_lab">Access Lab</label>
                        <input type="checkbox" name="can_user_access_lab" id="can_user_access_lab">
                    </div>
                    <div>
                        <button type="submit" name="action" value="add">Add</button>
                        <button type="submit" name="action" value="remove">Remove</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
