{# djlint:off H021 #}
<div style="width:50%; margin:0 auto; margin-bottom: 50px;">
    <h3>OpenScienceLab MFA Reset form</h3>
    <hr>
    {% if warning %}<p class="warning">{{ warning }}</p>{% endif %}
    <table>
        <form action="/mfa/reset" method="post">
            <tr>
                <td>
                    <h4>Username:</h4>
                </td>
                <td>
                    <input name="username" id="username" value="{{ username }}">
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Password:</h4>
                </td>
                <td>
                    <input name="password" id="password" type="password">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="button" onclick="onClick(event)">Request Reset</button>
                </td>
            </tr>
        </form>
    </table>
</div>
<script>
    function onClick(e) {
    e.preventDefault();
    grecaptcha.ready(function() {
        grecaptcha.execute("{{ site_key }}", {action: 'submit_mfa'}).then(function(token) {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'recaptchaToken';
            input.value = token;
            
            e.target.form.appendChild(input);
            e.target.form.submit();
        });
    });
    }
</script>
