{# djlint:off H021 #}
<div style="width:50%; margin:0 auto; margin-bottom: 50px;">
    <h3>OpenScienceLab MFA Reset Successful</h3>
    <hr>
    MFA Reset Completed. <a href='/'>Log In</a> to configure your new MFA code.
    You will be redirected shortly.
    <script>
        setTimeout(myURL, 5000);
        function myURL() {
            document.location.href = '/';
        }
    </script>
</div>
