<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet"/>
<style> #toast-container > div { opacity: 1; } </style>
{% comment %} <script src="/portal/hub/static/js/includes/notifications.js" type="text/javascript"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min" type="text/javascript"></script>
<script>
    function notifications(scope, tag) {

        import toastr;

        toastr.options = {
            "closeButton": true,
            "newestOnTop": true,
            "progressBar": true,
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "30",
            "hideDuration": "10",
            "timeOut": "0",
            "extendedTimeOut": "0",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        fetch(window.location.origin + '/notifications/'+encodeURIComponent(scope)+'?tag='+encodeURIComponent(tag) )
            .then( response => response.json() )
            .then( notes => {
                console.log(notes)
                notes.forEach( (entry) => {
                    toastr.options.positionClass = "toast-"+entry["placement"]
                    toastr[entry['type']](entry['message'], entry['title'])
                })
            })
            .catch( error => console.log(error) )
    }
</script>
<script>
    notifications('portal', 'home')
</script>