{# djlint:off H016,H030,H031 #}
<!DOCTYPE html>
<html lang="en">
    {% include 'head.j2' %}
    <body>
        {% include './noscript.j2' %}
        {% include './navbar.j2' %}

    {% for mylab in labs -%}

    <div style="margin-top: 10px;">
    <div>
        <section>
        <div id="lab-choices">

        <fieldset>
            <div class="horizontal-div">
                <legend> {{ mylab.friendly_name }} </legend>
                {% if admin %}
                    <a id="about-{{ mylab.short_lab_name }}" 
                        role="button" 
                        class="btn btn-lg btn-primary go-to-about-btn" 
                        href="/portal/access/manage/{{ mylab.short_lab_name }}"
                        >
                        Manage
                    </a>
                {% endif %}
            </div>
            

            <div>
                <span>
                    {% if mylab.logo is defined and mylab.logo != None -%}
                    <img src="/portal/hub/static/img/{{ mylab.logo }}" alt="logo for {{ mylab.friendly_name }}"/>
                    {% endif %}
                </span>
            </div>
            <div>
                <div>
                    <span>
                        {{ mylab.description | safe }}
                    </span>
                </div>

                <div>
                    <a id="start-{{ mylab.short_lab_name }}" 
                        role="button" 
                        class="btn btn-lg btn-primary go-to-lab-btn"
                        href="/lab/{{ mylab.short_lab_name }}/hub/login"
                        title="Click to go to the lab {{ mylab.short_lab_name }}"
                        >
                        <i>Go to lab</i>
                    </a>
                    {% if mylab.about_page_url is defined and mylab.about_page_url != None -%}
                    <a id="about-{{ mylab.short_lab_name }}" 
                        role="button" 
                        class="btn btn-lg btn-primary go-to-about-btn" 
                        target="_blank"
                        href="{{ mylab.about_page_url }}"
                        >
                        {{ mylab.about_page_button_label }}
                    </a>
                    {% endif %}
                </div>
            </div>

        </fieldset>

        </div>
        </section>
    </div>
    </div>
    <br>
    <br> 
    {% endfor -%}

    </body>
</html>
