{# 
    remove H025 after multiline jinja comment dealth with 
    inside of <a> tag with id="start-{{ currentlab.short_lab_name }}"
#}
{% import "macros.j2" as macros %}
<h2 class="title">Welcome To OpenScienceLab</h2>
<p>
    <i>
        For an overview of best practices and guidance for resolving some issues,
        see the <a href="https://opensarlab-docs.asf.alaska.edu/">OpenScienceLab documentation</a>.
        <br />
        If you need assistance, don't hesitate to <a href="mailto:uaf-jupyterhub-asf+help@alaska.edu">email the OpenScienceLab team</a>.
        Please include your username, which lab deployment and profile was used, a detailed description,
        and any other information that you feel is needed.
    </i>
</p>
{% for labname, _ in labs["lab_access"].items() %}
    {% if labname in labs["lab_info"] %}
        {{ macros.lab_card(labs["lab_info"][labname],
            accessable=True,
            admin=admin) }}
    {% endif %}
{% endfor %}
{% for labname, lab_access in labs["lab_info"].items() %}
    {% if labname not in labs["lab_access"] %}
        {{ macros.lab_card(labs["lab_info"][labname],
                accessable=True,
                admin=admin) }}
    {% endif %}
{% endfor %}
