{# djlint:off H021 #}
<br>
<div>
    <form method="post"
          id="update"
          onkeydown="if(event.keyCode === 13) { return false;}"
          action="/portal/access/manage/{{ request["labname"] }}/update/{{ user_profile.username }}/">
        <input type="submit"
               form="update"
               name="status"
               value="Approve"
               tabindex="-1"
               style="background-color: green;
                      color: white;
                      border: 1px;
                      padding: 5px 5px"
               {% if request["status"] in locked_status %}disabled{% endif %}>
        |
        <input type="submit"
               form="update"
               name="status"
               value="Return"
               tabindex="-1"
               style="background-color: lightgreen;
                      color: black;
                      border: 1px;
                      padding: 5px 5px"
               {% if request["status"] in locked_status %}disabled{% endif %}>
        |
        <input type="submit"
               form="update"
               name="status"
               value="Pending"
               tabindex="-1"
               style="background-color: yellow;
                      color: black;
                      border: 1px;
                      padding: 5px 5px"
               {% if request["status"] in locked_status %}disabled{% endif %}>
        |
        <input type="submit"
               form="update"
               name="status"
               value="Reject"
               tabindex="-1"
               style="background-color: red;
                      color: white;
                      border: 1px;
                      padding: 5px 5px"
               {% if request["status"] in locked_status %}disabled{% endif %}>
        |
        <input type="text"
               name="comment"
               value=""
               placeholder="Reviewer comments..."
               {% if request["status"] in locked_status %}disabled{% endif %}>
    </form>
</div>
