<html>
    <body>
        <h1>Message from OpenScienceLab</h1>
        <section>
            {{ data_body }}
        </section>
        <section>
            <hr />
            <p>
                OpenScienceLab is operated by the Alaska Satellite Facility | <a href="https://opensarlab-docs.asf.alaska.edu">OpenScienceLab documentation</a>.
            </p>
        </section>
    </body>
</html>
