{# djlint:off H021 #}
<table style="width:100%" border=1>
    <tr>
        <th>Username</th>
        <th>Created</th>
        <th>Last Login</th>
        <th>Access</th>
        <th>Requires Profile Update</th>
    </tr>
    {% for user in all_users_sorted %}
        <tr>
            <td>
                <b>{{ user['username'] }}</b>
            </td>
            <td>{{ user['created_at'] }}</td>
            <td>{{ user['last_cookie_assignment'] }}</td>
            <td>{{ user['access']|join(", ") }}</td>
            <td>
                {% if user['require_profile_update'] %}
                    <b>YES</b>
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
