{# djlint:off H021 #}
{% if message %}
    {% if message == "deleted" %}
        {% if success %}
            <div style="border: 2px solid green;
                        background-color: lightgreen;
                        width:95%;
                        vertical-align: middle">User {{ username }} was successfully deleted</div>
        {% else %}
            <div style="border: 2px solid red;
                        background-color: lightcoral;
                        width:95%;
                        vertical-align: middle">User {{ username }} could not be deleted</div>
        {% endif %}
    {% endif %}
    <hr>
{% endif %}
{% if exceeded %}
    <div style="border: 2px solid red;
                background-color: lightcoral;
                width:95%;
                vertical-align: middle">
        <form action="/portal/users">
            Search results limited to {{ rowcount }}. Try filtering by username:
            <input type="input" name="filter">
            <input type="submit" hidden />
        </form>
    </div>
{% endif %}
<table style="width:100%" border=1>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Created</th>
        <th>Last Login</th>
        <th>Access</th>
        <th>Requires Profile Update</th>
        <th>Is Locked</th>
        <th>Should Delete</th>
    </tr>
    {% for user in all_users_sorted %}
        <tr>
            <td>
                <b><a href="/portal/profile/form/{{ user["username" ] }}">{{ user["username"] }}</a></b>
            </td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['created_at'] }}</td>
            <td>{{ user['last_cookie_assignment'] }}</td>
            <td>{{ user['access']|join(", ") }}</td>
            <td>
                {% if user['require_profile_update'] %}
                    <b>YES</b>
                {% else %}
                    No
                {% endif %}
            </td>
            <td>
                {% if user["is_locked"] %}
                    <b>Locked</b>
                    <form onsubmit="return confirm('Do you really want to unlock `{{ user['username'] }}`?');"
                          action="/portal/users/unlock/{{ user['username'] }}"
                          method="post">
                        <input type="image"
                               src="/static/img/locked_icon.png"
                               border="0"
                               height="30"
                               alt="Lock" />
                    </form>
                {% else %}
                    Unlocked
                    <form onsubmit="return confirm('Do you really want to lock `{{ user['username'] }}`?');"
                          action="/portal/users/lock/{{ user['username'] }}"
                          method="post">
                        <input type="image"
                               src="/static/img/unlocked_icon.png"
                               border="0"
                               height="30"
                               alt="Unlock" />
                    </form>
                {% endif %}
            </td>
            <td>
                {% if "admin" in user['access'] %}
                    Admin
                {% else %}
                    <form onsubmit="return confirm('Do you really want to delete `{{ user['username'] }}`?');"
                          action="/portal/users/delete/{{ user['username'] }}"
                          method="post">
                        <input type="image"
                               src="/static/img/delete.png"
                               border="0"
                               height="30"
                               alt="Delete" />
                    </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
