<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OpenScienceLab Email</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="OpenScienceLab, SAR">
        <meta name="description" content="Which is better? Pepsi or Coke?">
    </head>
    <body>
        <h1>Message from OpenScienceLab</h1>
        <section>
            {{ data_body }}
        </section>
        <section>
            <hr />
            <p>
                OpenScienceLab is operated by the Alaska Satellite Facility | <a href="https://opensarlab-docs.asf.alaska.edu">OpenScienceLab documentation</a>.
            </p>
        </section>
    </body>
</html>
