<head>
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="{{ imports_path }}/style.min.css"
          type="text/css" />
    <link rel="icon" href="{{ imports_path }}/favicon.ico" type="image/x-icon" />
    <script src="{{ imports_path }}/require.js"
            type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ imports_path }}/jquery.min.js"
            type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ imports_path }}/bootstrap.min.js"
            type="text/javascript"
            charset="utf-8"></script>
</head>
