<head>
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.min.css" type="text/css" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <script src="/static/js/require.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js"
            type="text/javascript"
            charset="utf-8"></script>
    <style>
        .margin-left-50 {
            margin-left: 50px;
        }
        .margin-left-30 {
            margin-left: 30px;
        }
        .margin-left-10 {
            margin-left: 10px;
        }
    </style>
</head>
