{# djlint:off H006 #}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span id="jupyterhub-logo" class="pull-left">
                <a href="/portal/hub/">
                    <img src="/portal/hub/logo" alt="JupyterHub" class="jpy-logo" title="Home" />
                </a>
            </span>
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#thenavbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="thenavbar">
            <ul class="nav navbar-nav">
                {% for option in nav_bar_options %}
                    {% if option['visible'] %}
                        <li>
                            <a href="{{ option['path'] }}">{{ option['title'] }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <span id="login_widget">
                        <p class="navbar-text">{{ username }}</p>
                        <a id="logout"
                           role="button"
                           class="navbar-btn btn-sm btn btn-default"
                           href="/portal/hub/logout">
                            <i aria-hidden="true" class="fa fa-sign-out">
                                Logout
                            </i>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>
