{# djlint:off H016,H030,H031 #}
<!DOCTYPE html>
<html lang="en">
    {% include 'head.j2' %}
    <body>
        {% include './noscript.j2' %}
        {% include './navbar.j2' %}
        <div class="margin-left-50">
            <h2>
                Hello <i>{{ username }}</i>
            </h2>
            <form method="post">
                <fieldset>
                    <!-- Country -->
                    <div>
                        <label>What is your current country of residence?</label>
                        <select id="country_of_residence"
                                name="country_of_residence"
                                onchange="removeDropdownDefault(this)">
                            <!-- If user does not already have profile, provide default option and all countries -->
                            {% if profile is not defined %}
                                <option value="default">{{ default_value }}</option>
                                {% for country in countries -%}
                                    <option value="{{ country }}">{{ countries[country] }}</option>
                                {% endfor -%}
                            {% else %}
                                <!-- If has a profile, show all country options with previous country selected -->
                                {% for country in countries -%}
                                    {% if profile["country_of_residence"] == country %}
                                        <option value="{{ country }}" selected>{{ countries[country] }}</option>
                                    {% else %}
                                        <option value="{{ country }}">{{ countries[country] }}</option>
                                    {% endif -%}
                                {% endfor -%}
                            {% endif -%}
                        </select>
                    </div>
                    <!-- NASA Email -->
                    <div>
                        <label>Are you affiliated with NASA?</label>
                        <select id="nasa_affiliated_email"
                                name="nasa_affiliated_email"
                                onchange="removeDropdownDefault(this); expandSelect(this);">
                            <!-- If user does not already have profile, provide default option -->
                            {% if profile is not defined %}<option value="default">{{ default_value }}</option>{% endif %}
                            <!-- Set yes, no, or none to selected depending on the value of nasa_affiliated_email in an existing profile -->
                            <option value="yes"
                                    data-id-to-show="user_or_pi_nasa_email_div"
                                    {% if profile is defined and profile["nasa_affiliated_email"] == True %}selected{% endif %}>
                                Yes
                            </option>
                            <option value="no"
                                    {% if profile is defined and profile["nasa_affiliated_email"] == False %}selected{% endif %}>
                                No
                            </option>
                        </select>
                        <!-- User Or PI NASA Email -->
                        <div id="user_or_pi_nasa_email_div" class="margin-left-30" hidden>
                            <label>Do you have a NASA email address?</label>
                            <select id="user_or_pi_nasa_email"
                                    name="user_or_pi_nasa_email"
                                    onchange="removeDropdownDefault(this); expandSelect(this);">
                                <!-- If user does not already have profile, provide default option -->
                                {% if profile is not defined %}<option value="default">{{ default_value }}</option>{% endif %}
                                <!-- Set yes, no, or none to selected depending on the value of user_or_pi_nasa_email in an existing profile -->
                                <option value="yes"
                                        data-id-to-show="user_nasa_email"
                                        {% if profile is defined and profile["user_or_pi_nasa_email"] == True %}selected{% endif %}>
                                    Yes
                                </option>
                                <option value="no"
                                        data-id-to-show="pi_nasa_email"
                                        {% if profile is defined and profile["user_or_pi_nasa_email"] == False %}selected{% endif %}>
                                    No
                                </option>
                            </select>
                            <!-- User NASA Email -->
                            <div id="user_nasa_email" class="margin-left-30" hidden>
                                <label>What is your NASA email address?</label>
                                <input id="user_affliated_with_nasa_research_email"
                                       name="user_affliated_with_nasa_research_email"
                                       type="email"
                                       value="{% if profile is defined %}{{ profile['user_affliated_with_nasa_research_email'] }}{% endif %}"
                                       placeholder="example@nasa.gov">
                            </div>
                            <!-- PI NASA Email -->
                            <div id="pi_nasa_email" class="margin-left-30" hidden>
                                <label>What is the email address of the NASA project&rsquo;s PI?</label>
                                <input id="pi_affliated_with_nasa_research_email"
                                       name="pi_affliated_with_nasa_research_email"
                                       type="email"
                                       value="{% if profile is defined %}{{ profile['pi_affliated_with_nasa_research_email'] }}{% endif %}"
                                       placeholder="example@nasa.gov">
                            </div>
                        </div>
                    </div>
                    <!-- US Gov Research Email -->
                    <div>
                        <label>Are you affiliated with a US government-funded research program?</label>
                        <select id="us_gov_research_affiliated_email"
                                name="us_gov_research_affiliated_email"
                                onchange="removeDropdownDefault(this); expandSelect(this);">
                            <!-- If user does not already have profile, provide default option -->
                            {% if profile is not defined %}<option value="default">{{ default_value }}</option>{% endif %}
                            <!-- Set yes, no, or none to selected depending on the value of us_gov_research_affiliated_email in an existing profile -->
                            <option value="yes"
                                    data-id-to-show="user_gov_email"
                                    {% if profile is defined and profile["us_gov_research_affiliated_email"] == True %}selected{% endif %}>
                                Yes
                            </option>
                            <option value="no"
                                    {% if profile is defined and profile["us_gov_research_affiliated_email"] == False %}selected{% endif %}>
                                No
                            </option>
                        </select>
                        <div id="user_gov_email" class="margin-left-30" hidden>
                            <label>What is your official US government email address?</label>
                            <input id="user_affliated_with_gov_research_email"
                                   name="user_affliated_with_gov_research_email"
                                   type="email"
                                   value="{% if profile is defined %}{{ profile['user_affliated_with_gov_research_email'] }}{% endif %}"
                                   placeholder="example@example.com">
                        </div>
                    </div>
                    <!-- ISRO Email -->
                    <div>
                        <label>Are you affiliated with ISRO?</label>
                        <select id="is_affliated_with_isro_research"
                                name="is_affliated_with_isro_research"
                                onchange="removeDropdownDefault(this); expandSelect(this);">
                            <!-- If user does not already have profile, provide default option -->
                            {% if profile is not defined %}<option value="default">{{ default_value }}</option>{% endif %}
                            <!-- Set yes, no, or none to selected depending on the value of is_affliated_with_isro_research in an existing profile -->
                            <option value="yes"
                                    data-id-to-show="user_isro_email"
                                    {% if profile is defined and profile["is_affliated_with_isro_research"] == True %}selected{% endif %}>
                                Yes
                            </option>
                            <option value="no"
                                    {% if profile is defined and profile["is_affliated_with_isro_research"] == False %}selected{% endif %}>
                                No
                            </option>
                        </select>
                        <div id="user_isro_email" class="margin-left-30" hidden>
                            <label>What is your ISRO email address, or the ISRO email address of the project PI?</label>
                            <input id="user_affliated_with_isro_research_email"
                                   name="user_affliated_with_isro_research_email"
                                   type="email"
                                   value="{% if profile is defined %}{{ profile['user_affliated_with_isro_research_email'] }}{% endif %}"
                                   placeholder="example@example.com">
                        </div>
                    </div>
                    <!-- University Affiliation -->
                    <div>
                        <label>Are you affiliated with a university?</label>
                        <select id="is_affliated_with_university"
                                name="is_affliated_with_university"
                                onchange="removeDropdownDefault(this); expandSelect(this);">
                            <!-- If user does not already have profile, provide default option -->
                            {% if profile is not defined %}<option value="default">{{ default_value }}</option>{% endif %}
                            <!-- Set yes, no, or none to selected depending on the value of is_affliated_with_university in an existing profile -->
                            <option value="yes"
                                    data-id-to-show="university_affiliations"
                                    {% if profile is defined and profile["is_affliated_with_university"] == True %}selected{% endif %}>
                                Yes
                            </option>
                            <option value="no"
                                    {% if profile is defined and profile["is_affliated_with_university"] == False %}selected{% endif %}>
                                No
                            </option>
                        </select>
                        <div id="university_affiliations" class="margin-left-30" hidden>
                            <!-- Tick checkboxes if the corrosponding bool values in profile are True -->
                            <div>
                                <input type="checkbox"
                                       id="faculty_member_affliated_with_university"
                                       name="faculty_member_affliated_with_university"
                                       {% if profile is defined and profile["faculty_member_affliated_with_university"] == True %}checked{% endif %}>
                                <label>I am a university faculty member</label>
                            </div>
                            <div>
                                <input type="checkbox"
                                       id="research_member_affliated_with_university"
                                       name="research_member_affliated_with_university"
                                       {% if profile is defined and profile["research_member_affliated_with_university"] == True %}checked{% endif %}>
                                <label>I am a university research scientist</label>
                            </div>
                            <div>
                                <input type="checkbox"
                                       id="graduate_student_affliated_with_university"
                                       name="graduate_student_affliated_with_university"
                                       {% if profile is defined and profile["graduate_student_affliated_with_university"] == True %}checked{% endif %}>
                                <label>I am a university graduate student</label>
                            </div>
                        </div>
                    </div>
                    <!-- Sumbit button -->
                    <div>
                        <button type="submit">Submit Your Answers</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <script>
        window.addEventListener('load', function () {
            // Get all select elements
            const allSelects = document.querySelectorAll('select');
            // Run expandSelect on each element
            allSelects.forEach(select => {
                expandSelect(select);
            });
        });
        // Remove option with value === "default" if it is not selected
        function removeDropdownDefault(selectElement){
            if (selectElement.value !== "default") {
                const defaultOption = selectElement.querySelector('option[value="default"]');
                if (defaultOption) {
                    selectElement.remove(defaultOption.index);
                }
            }
        }
        // Displays element with id provided by option element data field if provided
        function expandSelect(selectElement){
            // Get the selected option element
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            // Get data fields
            const idToShow = selectedOption.dataset.idToShow;
            const elementToReveal = document.getElementById(idToShow);
            const elementToHide = document.getElementById(selectElement.dataset.idToHide);
            // Update visibilities
            if(elementToHide !== null){
                elementToHide.hidden = true;
            }
            if(elementToReveal !== null){
                elementToReveal.hidden = false;
            }
            // Update data field in selectElement
            selectElement.dataset.idToHide = idToShow;
        }
        </script>
    </body>
</html>
