---
name: Create CDK Build Image
on: # yamllint disable-line rule:truthy
  workflow_dispatch: {}
  push:
    paths:
      # Run on any change inside the project dir:
      - "build/cdk.*"
      # Or changes to this action:
      - .github/workflows/cdk-docker-image.yaml
      # Or required action changes:
      - .github/workflows/reusable-setup-env.yaml
    branches:
      - "*/*"
      - main
    tags:
      - "v*.*.*"
env:
  IMAGEREPO: ghcr.io/ASFOpenSARlab
  IMAGE_NAME: cdk-env
jobs:
  setup:
    uses: ASFOpenSARlab/osl-utils/.github/workflows/reusable-setup-env.yaml@v0.0.9
    with:
      tagname: ${{ inputs.tagname || github.ref_name }}
  docker-build-containers:
    needs:
      - setup
    name: CDK Docker Build
    uses: ASFOpenSARlab/osl-utils/.github/workflows/reusable-docker-build.yaml@v0.0.9
    with:
      image-name: cdk-env
      dockerfile: ./build/cdk.Dockerfile
