---
name: Deploy CDK
on: # yamllint disable-line rule:truthy
  workflow_dispatch: {}
  push:
    paths:
      - "portal-cdk/**"
      # Or changes to this action:
      - .github/workflows/deploy-cdk-app.yaml
    branches:
      - main
      # Since we have different dev instances, we can automate this:
      - "*/*"
    tags:
      - "v*.*.*"

jobs:
  setup:
    uses: ASFOpenSARlab/osl-utils/.github/workflows/reusable-setup-env.yaml@v1.0.2
    with:
      tagname: ${{ inputs.tagname || github.ref_name }}

  main-pipeline:
    runs-on: ubuntu-latest
    needs:
      - setup
    environment: ${{ needs.setup.outputs.environment }}
    container: ghcr.io/asfopensarlab/osl-utils:v1.0.4
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    env:
      DEPLOY_PREFIX: ${{ needs.setup.outputs.deploy_prefix }}
      SES_EMAIL: ${{ secrets.SES_EMAIL }}
      SES_DOMAIN: ${{ vars.SES_DOMAIN }}
      SSL_CERT_ARN: ${{ vars.SSL_CERT_ARN }}
      DEPLOY_DOMAINS: ${{ vars.DEPLOY_DOMAINS }}
      AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
      IS_PROD: ${{ needs.setup.outputs.environment == 'prod' }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_NUMBER }}:role/deploy_portal_stack_role
          aws-region: ${{ vars.AWS_DEFAULT_REGION }}

      - name: Run Portal Testsuite
        if: ${{ needs.setup.outputs.environment != 'prod' }}
        run: |
          make test

      - name: CDK Deploy Portal
        run: |-
          make deploy-portal
