---
name: Deploy CDK
on: # yamllint disable-line rule:truthy
  workflow_dispatch: {}
  push:
    paths:
      - "build/cdk.*"
      - "portal-cdk/*"
      # Or changes to this action:
      - .github/workflows/deploy-cdk-app.yaml
    branches:
      - "*/*"
      - main
    tags:
      - "v*.*.*"
env:
  cdk_image: ghcr.io/asfopensarlab/cdk-env
jobs:
  setup:
    uses: ASFOpenSARlab/osl-utils/.github/workflows/reusable-setup-env.yaml@v0.0.9
    with:
      tagname: ${{ inputs.tagname || github.ref_name }}
  wait-for-cdk-image:
    # Because the image may not ready yet, lets wait for it
    needs:
      - setup
    uses: ./reusable-image-readiness-wait.yaml
    with:
      image_name: "asfopensarlab/cdk-env"
      image_tag: ${{ needs.setup.outputs.branchtag }}
      repo_username: ${{ github.repository_owner }}
    secrets:
      repo_password: ${{ secrets.GITHUB_TOKEN }}
  use-cdk-image:
    env:
      image-tag: ${{ needs.setup.outputs.branchtag }}
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.wait-for-cdk-image.outputs.image_uri }}
    needs:
      - setup
      - wait-for-cdk-image
    steps:
      - name: CDK Helloworld
        id: hello-wold
        run: |-
          echo "Hello from inside CDK (${{ env.image-tag }})"
          cdk --version
